node_modules/
.env
.env.docker
.DS_Store
data/private/
data/public/storages/
data/*.sqlite
data/*.sqlite3
data/*.log
data/*.db
logs/
tmp/
scripts/
.vscode/
.cache/
package-lock.json
npm-debug.log
yarn-error.log
docs/
n8n-nodes-warest/
